body {

}
.page-wrapper{
    display: grid;
    grid-template-areas: 
    ''
    ''
    '' ;
}
.preamble {
    grid-area: head;
}

.explanation {
    grid-area: exp;
}

.participation {
    grid-area: part;
}

.benefits {
    grid-area: ben;
}

.requirements {
    grid-area: req;
}