body {
    background: linear-gradient(rgba(99, 98, 98, 0.774),rgba(197, 197, 197, 0.24));
    line-height: 20px;
}

.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.summary {
    float: left;
    width: 25%;
    border: 4px solid rgba(245, 245, 220, 0.459);
    margin: 15px;
    padding: 5px;
    background-color: rgba(245, 245, 220, 0.459);
}

abbr {
    font-style: italic;
    color: rgba(0, 128, 0, 0.466);
}

a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.103);
    font-size: small;
}
a:hover {
    color:red;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.295);
}

#zen-supporting{
    display: grid;
    grid-template-areas: 
    'exp exp req req part part'
    'exp exp req req part part'
    'ben ben ben ben ben ben' ;
    column-gap: 20px;
    font-family: Helvetica, sans-serif;
    margin: 20px;
}

.explanation {
    grid-area: exp;
}

.participation {
    grid-area: part;
}

.benefits {
    grid-area: ben;
    text-align: center;
    font-size: large;
    border: 2px solid rgba(161, 161, 7, 0.541);
    padding: 0px 15px;
    margin: 5px;
}

.requirements {
    grid-area: req;
}
footer {
 display: grid;
 grid-template-areas: 'html css lic access hub';
 column-gap: 50px;
}
.zen-validate-html {
    grid-area: html;
}
.zen-validate-css {
    grid-area: css;
}
.zen-license {
    grid-area: lic;
}
.zen-accessibility {
    grid-area: access;
}
.zen-github {
    grid-area: hub;
}

.wrapper {
    display: grid;
    grid-template-areas:'select select arch arch resource resource' ;
}
.design-selection {
    grid-area: select;
}
.design-archives  {
    grid-area: arch;
}
.zen-resources {
    grid-area: resource;
}
h1{
    font-size: 3em;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 0, 0, 0.425);
}
h2{
    text-align: center;
    font-size: x-large;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

