body {
    background: linear-gradient(rgba(0, 128, 0, 0.719), rgba(255, 166, 0, 0.781), rgba(255, 0, 0, 0.63), rgba(255, 166, 0, 0.712), rgba(0, 128, 0, 0.466));
    line-height: 20px;
}






footer {
    display: grid;
    grid-template-areas: 'html css lic access hub';
    column-gap: 50px;
    position: static;
   }
   .zen-validate-html {
       grid-area: html;
   }
   .zen-validate-css {
       grid-area: css;
   }
   .zen-license {
       grid-area: lic;
   }
   .zen-accessibility {
       grid-area: access;
   }
   .zen-github {
       grid-area: hub;
   }