body {
    background: linear-gradient(rgba(0, 128, 0, 0.644), rgba(255, 166, 0, 0.582), rgba(255, 0, 0, 0.623),rgba(255, 166, 0, 0.61), rgba(0, 128, 0, 0.521));
    line-height: 20px;
}

h1 {
    font-size: 6em;
}

.wrapper {
    width: 20%;
    float: right;
}

#zen-supporting {
    display: grid;
    float:left;
    width: 70%;
}

footer {
    display: grid;
    grid-template-areas: 'html css lic access hub';
    column-gap: 50px;
    position: fixed;
    top: 0px;
    width: 500px;
    border: 3px solid burlywood;
    right: 0px;
    background-color: rgba(245, 245, 220, 0.336);
   }
   .zen-validate-html {
       grid-area: html;
   }
   .zen-validate-css {
       grid-area: css;
   }
   .zen-license {
       grid-area: lic;
   }
   .zen-accessibility {
       grid-area: access;
   }
   .zen-github {
       grid-area: hub;
   }