body {
    background: linear-gradient(rgba(99, 98, 98, 0.815),rgb(197, 197, 197));
    line-height: 20px;
}

.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.summary {
    float: left;
    width: 20%;
}

abbr {
    font-style: italic;
    color: rgba(0, 0, 255, 0.534);
}

a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.103);
    font-size: small;
}
a:hover {
    color:red;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.295);
}

#zen-supporting{
    display: grid;
    grid-template-areas: 
    'exp exp req req part part'
    'exp exp req req part part'
    'ben ben ben ben ben ben' ;
    column-gap: 20px;
    font-family: Helvetica, sans-serif;
}

.explanation {
    grid-area: exp;
}

.participation {
    grid-area: part;
}

.benefits {
    grid-area: ben;
    text-align: center;
    font-size: large;
}

.requirements {
    grid-area: req;
}
footer {
 display: grid;
 grid-template-areas: 'html css lic access hub';
 column-gap: 50px;
}
.zen-validate-html {
    grid-area: html;
}
.zen-validate-css {
    grid-area: css;
}
.zen-license {
    grid-area: lic;
}
.zen-accessibility {
    grid-area: access;
}
.zen-github {
    grid-area: hub;
}

.wrapper {
    display: grid;
    grid-template-areas:'select select arch arch resource resource' ;
}
.design-selection {
    grid-area: select;
}
.design-archives  {
    grid-area: arch;
}
.zen-resources {
    grid-area: resource;
}
h1{
    font-size: 3em;
}
h2{
    text-align: right;
    font-size: medium;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

